<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.doh.mapper.MemberMapper">

	<resultMap type="com.doh.domain.MemberVO" id="memberMap">
		<id property="email" column="email"/>
		<result property="m_no" column="m_no"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/> <!-- column : DB컬럼명 / property : DTO/VO 변수값 -->
		<result property="nickname" column="nickname"/>
		<result property="enabled" column="enabled"/>
		<result property="jdate" column="jdate"/>
		
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.doh.domain.AuthVO" id="authMap">
		<result property="email" column="email"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select * from member2 LEFT JOIN member_auth on member2.email = member_auth.email
		where member2.email = #{email}
	</select>
	
	
	<select id="searchMember" resultType="com.doh.domain.MemberVO">
		select * from member2 where email=#{email} 
	</select>
	
	<select id="checknickname" resultType="com.doh.domain.MemberVO">
		select * from member2 where nickname=#{nickname}
	</select>

	<insert id="signup"  parameterType="com.doh.domain.MemberVO">
		insert into member2 values(null,#{email},#{password},#{nickname},true,CURRENT_TIMESTAMP())
	</insert>
	
	<insert id="signup_auth" parameterType="String">
		insert into member_auth values(#{email},'ROLE_MEMBER')
	</insert>
	
	<select id="boardcount" resultType="int">
		SELECT COUNT(*) FROM freeboard WHERE m_no= #{m_no} UNION ALL 
		SELECT COUNT(*) FROM cboard WHERE m_no= #{m_no} UNION ALL 
		SELECT COUNT(*)FROM qboard WHERE m_no = #{m_no}
	</select>
	
	<select id="replycount" resultType="int">
		SELECT COUNT(*) FROM fcomment WHERE m_no= #{m_no} UNION ALL 
		SELECT COUNT(*) FROM ccomment WHERE m_no= #{m_no} UNION ALL 
		SELECT COUNT(*)FROM answer WHERE m_no = #{m_no}
	</select>
	
	<select id="answercount" resultType="int">
		SELECT COUNT(*) FROM answer WHERE m_no = #{m_no} AND a_check=1
	</select>
	
</mapper>