@charset "UTF-8";

html{
	margin: 0;
}

body{
    padding:0;
    margin:0;
}

.bar{
	padding: 10px;
	position: sticky;
	top: 0;
	z-index: 98;
	background-color: white;
	border-bottom: 1px solid #d8d8d8;
	transition: .5s;
}

.bar img{
    width: 160px;
    height: 50px;
    margin: 10px 20px 10px 15px;
}

.bar nav{
    position: absolute;
    top: 35px;
    right:0;
    width: 100%;
    text-align: right;

}

.bar nav ul{
    list-style-type: none; 
    font-family: 'Russo One', sans-serif; 
    font-size: 20pt;
    padding-right: 2%;
    margin:15px 0px 0px 0px;

}

.bar nav ul li{
   display: inline-block;
   padding-left: 2%;
   padding-right: 2%;
}

.bar nav ul li a{
	color:black;
	text-decoration: none;
}

.bar nav ul li a:hover{
	color:darkorange;
	cursor: pointer;
}

.bar nav ul li ul{
   display: none;
   position: absolute;
   background-color: #fff;
   text-align: left;
   width:150px;
   padding: 20px 20px;
   border-radius: 10px;
   margin:0px;
}

.bar nav ul li:hover ul{
   display: block;
}

.bar nav ul li ul li{
	display:block;
	padding: 5px;
}


/*----------------------------  modal --------------------*/

.modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	
}

.modal-overlay{
	background-color: rgba(0, 0, 0, 0.6);
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 99;
}

.modal-content{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	background-color: white;
	padding:25px 35px;
	border-radius:10px;
	width: 20%;
	z-index: 99;
}


.login-form h1{
	text-align: center;
	margin-bottom: 60px;
}

.txtb{
	border-bottom: 1px solid #adadad;
	position: relative;
	margin: 30px 0;
	
}

.txtb input{
	font-size: 15px;
	color: #333;
	border: none;
	width:100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.txtb span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
}

.txtb span::after{
	content:'';
	position: absolute;
	width: 0%;
	height: 3px;
	background: linear-gradient(120deg, #fff200,#ff9f1a);
	transition: .5s;
}

.focus + span::before{
	top: -12px;
}

.focus + span::after{
	width: 100%;
}

.logbtn, .cls{
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	margin-top:10px;
	border-radius: 8px;
	color: #fff;
	background: linear-gradient(120deg, #ff9f1a,#fff200,#ff9f1a);
	background-size: 200%;
	outline: none;
	cursor: pointer;
	transition: .5s;
}

.logbtn:hover{
	background-position: right;
}

.cls:hover{
	background-position: right;
}

.member-join{
	font-size: 12px;
	margin:15px 0px;
	
}

.member-join ul {
	margin:0;
	padding:0;

}


.member-join ul li{
	display: inline-block;
	text-decoration: none;
	color:black;
}


.member-join ul li a:hover{
	color:#d8d8d8;
}



.signup-modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	
}

.signup-modal-overlay{
	background-color: rgba(0, 0, 0, 0.6);
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 99;
}

.signup-modal-content{
	text-align:center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	background-color: white;
	padding:1% 2%;
	border-radius:10px;
	width: 375px;
	z-index: 99;
}

.signup-input input{
	outline: none;
	border: 1px solid #d8d8d8;
	border-radius: 10px;
	margin: 10px 0px;
	width: 80%;
	height: 40px;
	padding: 15px;
}

.access-text{
	width:90%;
	text-align:right;
	font-size: 9px;
}

.submitBtn, .signupCls{
	margin-top: 18px;
	border: none;
	outline: none;
	width: 80%;
	border-radius: 10px;
	height: 50px;
	background: linear-gradient(120deg, #ff9f1a,#fff200,#ff9f1a);
	background-size: 200%;
	color:white;
	transition: 0.5s;
}

.submitBtn:hover{
	background-position: right;
}

.signupCls:hover{
	background-position: right;
}

.hidden{
	display: none;
}

