@charset "UTF-8";


.footer{
	height: 130px;
	z-index: 99;
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: gray;
	background-color: #000;
	
}
.footer-wrapper{
	width:50%;
	margin: 0px auto;
}

.info{
	margin: 0;
	padding: 25px 0px 0px 0px;
}

.copyright{
	margin: 0;
	padding-bottom: 25px;
}

.team{
	font-family: 'Russo One', sans-serif;
}

.link_bar{
	padding:10px;
}

.link_icon{
	color:gray;
	text-decoration: none;
	font-size: 20px;
	margin: 0px 10px;
}


.link_icon:hover{
	color:white;
	cursor: pointer;
}

.link_team{
	color:gray;
	text-decoration: none;
}
.link_team:hover{
	color:white;
	cursor: pointer;
}
