@charset "UTF-8";

.footer{
	z-index: 99;
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: gray;
	background-color: white;
}

.info{
	margin: 0;
	padding: 25px 0px 0px 0px;
}

.copyright{
	margin: 0;
	padding:10px 0px 25px 0px;
}

.team{
	font-family: 'Russo One', sans-serif;
}