.content-temp{
   margin: 0;
   height:800px;
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
   text-align: center;
}

.content-temp .content{
   margin-top: 15px;
   margin-bottom: 15px;
   border-left: 1px dotted gray;
   border-right: 1px dotted gray;
}

.list{
	border: 2px solid black;
	height: 300px;
	width: 50%;
	left:200px;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 3px solid blue;
	height: 200px;
	width: 100%;
}