@charset "UTF-8";

.header-bar{
    position: fixed;
    width: 100%;
    padding: 3px;
    z-index: 3;
}

.header-bar .name{
    margin-left: 1%;
}

.header-bar .name a{
    text-decoration: none;
    color: black;
    font-family: 'Russo One', sans-serif;
}

.header-bar .member{
    margin-right: 1%;
    float: right;
}

.header-bar .member ul{
    list-style-type: none;
    margin: 0;
}

.header-bar .member li{
    display: inline;
}

.header-bar .member a{
    text-decoration: none;
    color: black;
    font-size: 9pt;
    padding-right: 12px;
    padding-left: 12px;
}

/* ---------- hover ------------ */

.header-bar .member a:hover{
    color: darkorange;
}



/* ------------------- title ------------------ */
.title{
    text-align: center;
}

.title img{
    margin-top: 3%;
}

.title p{
    padding: 0;
    margin: 0;
}

/*----------------------------  modal --------------------*/

.modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	
}

.modal-overlay{
	background-color: rgba(0, 0, 0, 0.6);
	width:100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}

.modal-content{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	background-color: white;
	padding:25px 35px;
	border-radius:10px;
	width: 20%;
	z-index: 3;
}

.hidden{
	display: none;
}

.login-form h1{
	text-align: center;
	margin-bottom: 60px;
}

.txtb{
	border-bottom: 1px solid #adadad;
	position: relative;
	margin: 30px 0;
	
}

.txtb input{
	font-size: 15px;
	color: #333;
	border: none;
	width:100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.txtb span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
}

.txtb span::after{
	content:'';
	position: absolute;
	width: 0%;
	height: 3px;
	background: linear-gradient(120deg, #fff200,#ff9f1a);
	transition: .5s;
}

.focus + span::before{
	top: -12px;
}

.focus + span::after{
	width: 100%;
}

.logbtn, .cls{
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	margin-top:10px;
	border-radius: 8px;
	color: #fff;
	background: linear-gradient(120deg, #ff9f1a,#fff200,#ff9f1a);
	background-size: 200%;
	outline: none;
	cursor: pointer;
	transition: .5s;
}

.logbtn:hover{
	background-position: right;
}

.cls:hover{
	background-position: right;
}
