body{
    margin: 0;
    padding: 0;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.empty{
	 
}

.content{
    width: 100%;
    height:100%;
}

.info-wrapper{
	margin: 100px auto 100px auto;
	padding: 20px;
	border-radius:10px;
	width: 55%;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.info-wrapper h2{
	margin-top:0;
	position: relative;
	left: 2%;
	font-size: 30px;
}



.info-nick{
	font-size: 50px;
	width: 100%;
	position: relative;
	left: 5%;
}

.info-email{
	text-align: right;
	position: relative;
	right: 5%;
}

.tapper{
	margin-top: 5%;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.tap{
	margin: 0 auto 0 auto;
	background-color: gray;
	width: 98%;
}

.tap div:nth-child(1){
	margin-top:10px;
	text-align: left;
	color: white;
	font-size: 20px;
	position: relative;
	left: 7%;
}

.tap div:nth-child(2){
	margin-top:10px;
	padding-bottom:10px;
	color: white;
	font-size: 40px;
}

.info-edit{
	position:relative;
	right:2%;
	text-align: right;
	margin-top: 20px;
}
.info-edit a{
	text-decoration: none;
	color: black;
}

.info-edit a:hover{
	color: darkorange;
}



