@charset "UTF-8";

.slider-wrapper{
	width:100%;
	height: 77.3vh;
}

.slider {
	overflow: hidden;
	width: 100%;
	height: 65vh;
	position: relative;
	
}

.slider_item{
	
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: black;
	top: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.slider_item img{
   width:100%;
   height:100%;
}

.mainLec img{
	width: 400px;
	height: 400px;
}
.mainLec {
	position: relative;
	top: 137px;
    left: 575px;
}

.mainQA img{
	width: 500px;
	height: 400px;
}

.mainQA{
	position: relative;
    top: 105px;
    right: 470px;
}

.flagImg{
    position: relative;
    left: -295px;
    top: -100px;
}

.flagImg img{
	width: 100%;
	transform: rotate(0deg);
}

.showing{
	opacity: 1;
	z-index: 1;
}

.slider_line{
	height: 12.3vh;
	width:100%;
	background-color: gold;
}