.container{
	display:grid;
	grid-template-columns : 13vw auto;
	box-sizing: border-box;
}

.lectureBar{
	margin:0;
}

.lecture_title{
	width:100%;
	padding: 15px;
    font-size: 20px;
    margin: 70px 0px 20px 0px;
}
.sideMenubar{
	position:fixed;
	width:13vw;
	height:100%;
	transition:.5s;
	z-index:1;
}

.sideMenubar ul {
	margin:0px;
	padding:0px;
} 

.sideMenubar ul li{
	list-style-type: none;
}

.sideMenubar ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 900;
	display: block;
	background-color: white;
	color: black;
	padding: 10px 10px 10px 15px;
}

.sideMenubar ul li a:hover, .plusBtn:hover{
	background-color: #2E2E2E;
	color:white;
}

.plusBtn{
	padding: 10px 10px 5px 15px;
	color:black;
	text-decoration:none;
	font-size: 20px;
	display: block;
	text-align: center;
	
}

#main{
	grid-column-start: 2;
	padding: 20px 105px 20px 93px;
	width:85%;
	border-left: 1px solid #BDBDBD;
}

#main form{
	margin: 0;
}


.btn-area{
	text-align: right;
	margin: 20px 0px 0px 0px;
	min-height: 70px;
}

.lectureContentArea{
	padding: 0px 0px 20px 0px;
}

.edit_container{
	display: grid;
	grid-template-columns :  60% 40%;
	margin: 5% 0px;
}

.edit_container_code{
	width:670px;
}


.edit_container_viewer{
	width:430px;
	height: 640px;
}
#runBtn{
	width:100%;
	margin-bottom:10px;
	padding: 15px 50px;
	cursor: pointer;
	background-color: white;
	border: 1px solid #BDBDBD;
}

#runBtn:hover{
	color:white;
	background-color: #2E2E2E;
}

#viewer{
	width:100%;
	height: 640px;

}

.btn2 {
	padding: 15px 50px;
	cursor: pointer;
	background-color: white;
	border: 1px solid #BDBDBD;
}

.btn2:hover{
	color:white;
	background-color: #2E2E2E;
}


