@charset "UTF-8";

body{
	margin:0;
	padding:0;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	border-bottom: 1px solid #D8D8D8;
	
}

.searchLine{
	margin: 20px 0px;	
}

.searchBtn{
	position:relative;
	top:5px;
	background-image: url("/resources/img/magnifying-glass.png");
	background-color:white;
	border:none;
	outline:none;
	width:32px;
	height: 32px;
	
}

.searchLine input{
	width: 30%;
	height: 7%;
	font-size: 25px;
	border: 1px solid #D8D8D8;
	border-radius:10px;
	outline: none;
	padding: 15px 30px;
	margin: 0px 5px;

}

.pagination{
	width: 100%;
	text-align: center;
}

.pagination li{
	display: inline-block;
	padding: 10px 3px;
}


.pagination a{
	text-decoration: none;
	color: black;
	
	border-radius: 8px;
	padding:5px 10px;
	transition: 0.4s;
}
.pagination a:hover {
	
	color: white;
	background-color: gray;
}


