@charset "UTF-8";

body{
	margin:0;
	padding:0;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;

}

.searchLine{
	margin: 6% 0px;	
	font-family: 'Russo One', sans-serif;
}

.searchBtn{
	position:relative;
	top:5px;
	background-image: url("/resources/img/magnifying-glass.png");
	background-color:white;
	border:none;
	outline:none;
	width:32px;
	height: 32px;
	
}

.searchLine input{
	width: 50%;
	height: 7%;
	font-size: 25px;
	border: 1px solid #D8D8D8;
	border-radius:10px;
	outline: none;
	padding: 15px 30px;
	margin: 0px 5px;

}

.boardQA{
	margin: 4% auto;
	display:grid;
	grid-template-columns: 1fr 5fr;
	width: 80%;
	height: 160px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	
}

.boardQA-info{
	text-align: center;
}

.boardQA-info img{
	margin: 10px 0px;
}
.boardQA-info div{
	margin: 4% 0px;
}

.boardQA-content-rdate{
	padding-top:1%;
}

.boardQA-content h3{
	margin:1% 0px;
}

.boardQA-content h3 a{
	text-decoration: none;
	font-size:20px;
	font-weight: bold;
	color: #8fca05;
}
.boardQA-content h3 a:hover{
	color: #c2fb3b;
}

.boardQA-content div:nth-child(2){
	
}
.boardQA-content div:nth-child(3){
	
}
.boardQA-content div:nth-child(4){
	text-align: right;
	font-size: 12px;
}

.pagination{
	margin: 0px 0px 2% 0px;
	width: 100%;
	text-align: center;
}
.pagination ul{
	
	display: inline-block;

	padding: 0;	
}

.pagination li{
	display: inline-block;
	padding: 10px 3px;
}

.pagination li a{
	font-size: 15px;
	color: #424242;
	padding: 1px 10px;
	text-decoration: none;
	outline: none;
}

.pagination li a:hover{
	font-size: 20px;
	text-decoration: underline;
	text-underline-position: under;
	background-color: white;
	border: none;
	color:red;
}

.prev-btn , .next-btn{
	font-size: 15px;
	text-align:center;
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid #D8D8D8;
	text-decoration: none;
	color: #424242;
	border-radius: 10px;
	padding:5px 10px;
	transition: 0.4s;
}

.pagination a:hover {
	color: white;
	background-color: #2E2E2E;
}



.insertBtn{
	text-decoration: none;
	color: black;
	border-radius: 8px;
	padding:5px 10px;
	transition: 0.4s;
}

.insertBtn:hover{
	color: gold;
}

.boardQA-text{
	word-break: break-all;
	height: 61px;
	overflow: hidden;
}
/* ---------- content ---------- */

.ctitle{
	text-align: center;
}

.ctitle h3{
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}


.content-form{
	width: 80%;
	margin: 4% auto;
}

.contentQA-info{
	color: #6a737c;
	font-size: 11px;
	margin-right: 15px;
}

.contentQA-info div{
	display: inline;
	float: right;
    margin-left: 20px;
}

.content-content{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 20px 30px 20px;
    border-bottom: 1px solid #D8D8D8;
    word-break:break-all;
}

.up-list-delBtn{
	text-align: center;
	padding-top: 20px;
}

.up-list-delBtn a{
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 8px;
	padding:5px 10px;
	transition: 0.4s;
}

.up-list-delBtn a:hover{
	color: white;
	background-color: gray;
}

.content-nickname{
	font-weight: bold;
}

.div-in-title{
	text-align: center;
}

.in-title{
	height: 35px;
	width: 975px;
}

/* ---------- reply ---------- */

.reply-input-form{
	padding: 15px 20px;
}

.replyList{
	background-color: #f1f8ff;
	border-radius: 10px;
}

.a_content{
	width: 80%;
	height: 200px;
	padding: 20px;
}

.reply-info-bar{
	display: grid;
	grid-template-columns: 50% 50%;
}

.reply-nickname{
	width:100%;
	padding: 0px 0px 0px 10px;
	font-weight: bold;
	color: #6a737c;
	text-align: left;
}
.reply-date{
	padding:5px 0px 0px 0px;
	width:98%;
	text-align: right;
	
}

.reply-content-bar{
	display: grid;
	grid-template-columns: 10% auto 10%;
}

.r_content{
	text-align-last: left;
}
.div_r_content{
	overflow: auto;
	width: 100%;
}

.replyList button{
	background-color: white;
	color: black;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 20px;
}
.replyList button:hover{
	background-color: #2E2E2E;
	color: white;
}

.r-updel-line{
	text-align: center;
	padding-bottom: 10px;
    padding-top: 10px;
}

.r-updel-line button{
	margin-bottom: 10px;
	font-size: 12px;
}

.space{
	margin-bottom: 15px;
}

.nickname-go-line div{
	display: inline;
}

.goBtn{
	float: right;
    padding-right: 3%;
    padding-bottom: 10px;
}

.goBtn button{
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 20px;

}
.goBtn button:hover{
	background-color: white;
	color: black;
}

.reply-date{
	color: #6a737c;
    font-size: 11px;
    text-align: right;
}

.replyNo{
	text-align: center;
}

.updateArea{
	resize:none;
    line-height:150%;
    width:100%;
    overflow-y:hidden;
    height:30px;
	width: 750px;
}

.reply-Btn{
	font-size: 12px;
	place-self: center;
}

.noreply{
	text-align: center;
	color: #6a737c;
}

.div-upBtn{
	text-align: right;
}

/* ---------- input ---------- */

.input-form{
	margin: 50px auto;
	width: 80%;
}

.input-form input{
	width: 80%;
	margin-bottom: 20px;
}

.btnLine{
	margin-top: 5px;
}

.btnLine button{
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 20px;
}
.btnLine button:hover{
	background-color: white;
	color: black;
}

.backBtn{
	float: left;
	
}

.writeBtn{
	float: right;
}


/* ---------- update-form ---------- */
.update-form{
	margin: 50px auto;
	width: 80%;
}

