@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean');

html, body{
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
}
.container{
	margin: 0;
	height:auto;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	
	
}

.searchBtn{
	position:relative;
	margin-left:5px;
	top:5px;
	background-image: url("/resources/img/search.png");
	background-color:white;
	border:none;
	outline:none;
	width:24px;
	height: 24px;
	
}

.boardList{
	width: 80%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 1%;
	border-collapse: collapse;
	text-align: center;
}

.boardList tr{
	border-bottom: 1px solid #D8D8D8;
}

.boardList tr th{
	font-size: 20px;
	font-weight: bold;
    vertical-align: inherit;
}

.boardList tr td{
	padding-top: 10px ;
	padding-bottom: 10px ;
	font-size: 15px;
    vertical-align: inherit;
}

.searchLine{
	margin: 20px auto;
	width: 80%;
}

.searchLine a{
	float: right;
	font-size: 15px;
	font-weight: 900;
	text-align:center;
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid #D8D8D8;
	text-decoration: none;
	color: #424242;
	border-radius: 10px;
	padding:5px 10px;
	transition: 0.4s;
}

.searchLine a:hover{
	color: white;
	background-color: #2E2E2E;
}

.searchLine input,select{
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 10px;
	outline: none;
}

.searchLine input{
	position: relative;
	top:-3px;
}

.pagination {
	text-align: center;
	margin: 10px 0px 40px 0px;
}

.btn{
	font-size: 15px;
	color: #424242;
	padding: 1px 10px;
	margin: 0px 5px;
	text-decoration: none;
	outline: none;
}

.btn:hover{
	font-size: 20px;
	text-decoration: underline;
	text-underline-position: under;
	background-color: white;
	color:red;
}

.prev-btn , .next-btn, .first-btn, .end-btn{
	font-size: 15px;
	text-align:center;
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid #D8D8D8;
	text-decoration: none;
	color: #424242;
	border-radius: 10px;
	padding:5px 10px;
	transition: 0.4s;
}

.prev-btn:hover , .next-btn:hover, .first-btn:hover, .end-btn:hover{
	color:white;
	background-color: #2e2e2e;
}

a.titleLink:link{text-decoration: none; color: black;}
a.titleLink:visited{color: #BDBDBD;}
a.titleLink:active{color: blue;}
a.titleLink:hover{ color: red;}
