#form{
	margin: 0;
}

button.btn{
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	margin: 0;
	padding: 5px 10px;
}
button.btn:hover{
	background-color: white;
	color: black;
}

.modalchang{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	z-index: 200;
}
.modalchang_overlay{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
}
.modalchang_content{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 3% 6%;
	position: fixed;
	top: 30%;
	border-radius: 10px;
}
.modalchang_content button{
	margin-top: 10%;
	margin-bottom: 0;
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	margin-right: 30px;
}
.gone{
	display: none;
}


