form{
	margin: auto;
	margin-top: 0px;
}
table{
	width: 70%;
}
td{
	padding-top: 10px;
	padding-bottom: 5px;
}
input[type=text]{
	width: 90%;
	padding: 10px 15px;
}
button.btn{
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	font-size: 15px;
	padding: 5px 20px;
}
button.btn:hover{
	background-color: white;
	color: black;
}
#f_content{
	display: none;
}
.align{
	text-align: center;
	margin: 0 auto;
}

.write-table{
	margin: auto;
	text-align: center;
}